.Introduction {
    position: relative;
    height: 100vh;
    padding: 60px 40px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 50px;
    color: var(--white);
    z-index: 1;
}
.Introduction__name h1 {
    font-size: var(--x-large);
}
.Introduction__name h2 {
    font-size: var(--medium);
}

.Introduction__brief {
    font-size: var(--small);
}
.Introduction__brief p {
    max-width: 400px;
}

@media screen and (min-width:600px) {
    .Introduction {
        position: relative;
        height: 100vh;
        padding: 60px 40px;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        place-items: center;
        gap: 100px;
        color: var(--white);
        z-index: 1;
    }
    .Introduction__name h1 {
        font-size: var(--xx-large);
    }
    .Introduction__name h2 {
        font-size: var(--large);
    }
    
    .Introduction__brief {
        font-size: var(--large);
    }
    .Introduction__brief p {
        max-width: 400px;
    }
}

@media screen and (min-width: 900px) {
    .Introduction {
        position: relative;
        z-index: 1;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        place-items: center;
        color: var(--white);
        width: 100%;
        overflow: hidden;
    }

    @media (prefers-reduced-motion: no-preference) {
        .Introduction__name {
            transform: translate(-800px, 0);
            animation: bring-info-left 0.5s forwards 0.5s cubic-bezier(.37,-0.01,.54,1.55);
        }
        .Introduction__brief {
            transform: translate(800px, 0);
            animation: bring-info-right 0.5s forwards 0.5s cubic-bezier(.37,-0.01,.54,1.55);
        }

    }
}

@keyframes bring-info-left {
    0% {
        transform: translate(-800px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes bring-info-right {
    0% {
        transform: translate(800px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}